# lab 5
lab05/CPU_CDE/cpu132_gettrace
lab05/CPU_CDE/soft
lab05/CPU_CDE/Readme_First.txt
# lab 6
lab06/CPU_CDE/cpu132_gettrace
lab06/CPU_CDE/soft
lab06/CPU_CDE/Readme_First.txt
# lab 7
lab07/CPU_CDE/cpu132_gettrace
lab07/CPU_CDE/soft
lab07/CPU_CDE/Readme_First.txt
# lab 8
lab08/CPU_CDE/cpu132_gettrace
lab08/CPU_CDE/.vscode
lab08/CPU_CDE/soft
lab08/CPU_CDE/Readme_First.txt
# lab 9
lab09/CPU_CDE/cpu132_gettrace
lab09/CPU_CDE/.vscode
lab09/CPU_CDE/soft
lab09/CPU_CDE/Readme_First.txt
# lab 10
lab10/CPU_CDE_SRAM/cpu132_gettrace
lab10/CPU_CDE_SRAM/soft
lab10/CPU_CDE_SRAM/Readme_First.txt
lab10/ucas_CDE_axi_ref
# lab 11
lab11/CPU_CDE_AXI/cpu132_gettrace
lab11/CPU_CDE_AXI/soft
lab11/CPU_CDE_AXI/Readme_First.txt
# lab 12
lab12/CPU_CDE_AXI/cpu132_gettrace
lab12/CPU_CDE_AXI/soft
lab12/CPU_CDE_AXI/Readme_First.txt
# lab 13
lab13/tlb_verify/run_vivado
lab13/tlb_verify/testbench
# lab 14
lab14/CPU_CDE_AXI/cpu132_gettrace
lab14/CPU_CDE_AXI/soft
lab14/CPU_CDE_AXI/Readme_First.txt
# lab 15
lab15/CPU_CDE_AXI/cpu132_gettrace
lab15/CPU_CDE_AXI/soft
lab15/CPU_CDE_AXI/Readme_First.txt
# lab 16
lab16/cache_verify/run_vivado
lab16/cache_verify/testbench