# lab 5
lab5/CPU_CDE/cpu132_gettrace
lab5/CPU_CDE/soft
lab5/CPU_CDE/Readme_First.txt
# lab 6
lab6/CPU_CDE/cpu132_gettrace
lab6/CPU_CDE/soft
lab6/CPU_CDE/Readme_First.txt
# lab 7
lab7/CPU_CDE/cpu132_gettrace
lab7/CPU_CDE/soft
lab7/CPU_CDE/Readme_First.txt
# lab 8
lab8/CPU_CDE/cpu132_gettrace
lab8/CPU_CDE/.vscode
lab8/CPU_CDE/soft
lab8/CPU_CDE/Readme_First.txt
# lab 9
lab9/CPU_CDE/cpu132_gettrace
lab9/CPU_CDE/.vscode
lab9/CPU_CDE/soft
lab9/CPU_CDE/Readme_First.txt
# lab 10
lab10/CPU_CDE_SRAM/cpu132_gettrace
lab10/CPU_CDE_SRAM/soft
lab10/CPU_CDE_SRAM/Readme_First.txt
lab10/ucas_CDE_axi_ref
# lab 11
lab11/CPU_CDE_AXI/cpu132_gettrace
lab11/CPU_CDE_AXI/.vscode/c_cpp_properties.json
lab11/CPU_CDE_AXI/soft
lab11/CPU_CDE_AXI/Readme_First.txt
# lab 13
lab13/tlb_verify/run_vivado
lab13/tlb_verify/testbench
# lab 16
lab16/cache_verify/run_vivado
lab16/cache_verify/testbench