# lab 5
lab5/CPU_CDE/cpu132_gettrace
lab5/CPU_CDE/soft
lab5/CPU_CDE/Readme_First.txt
# lab 6
lab6/CPU_CDE/cpu132_gettrace
lab6/CPU_CDE/soft
lab6/CPU_CDE/Readme_First.txt
# lab 7
lab7/CPU_CDE/cpu132_gettrace
lab7/CPU_CDE/soft
lab7/CPU_CDE/Readme_First.txt